name: lint

on:
  pull_request:
    branches: [ "main" ]

permissions: {} # lock everything by default (least-privilege)

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    permissions:
      contents: read
    runs-on: gha-runner-scale-set-ubuntu-24-amd64-large
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '>=1.24'
      # Setup environment
      - run: make install
      # Do the linting
      - run: make lint
